
body {
  background-color: darkgreen;
}
#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#ball {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  
  /* positioning */
  position: absolute;
  top: 200px;
  left: 200px;
}

#player1 {
  /* appearance */
  background-color: orangered;
  width: 20px;
  height: 80px;
  border-radius: 5px;
  
  /* positioning */
  position: absolute;
  top: 150px;
  left: 20px;
}

#player2 {
  /* appearance */
  background-color: blueviolet;
  width: 20px;
  height: 80px;
  border-radius: 5px;
  
  /* positioning */
  position: absolute;
  top: 150px;
  left: 400px;
}
